<!DOCTYPE html>
<html>
  <%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="blogs content">
      <h1>404 error</h1>
      <h2>Ooooops Page Not Found</h2>
    </div>
  </body>
</html>
